@media (max-width: 992px) {
  .works {
    display: none;
  }

  .works-sm {
    display: block;
  }

  .works-sm .title-sm {
    display: flex;
  }
}

@media (max-width: 768px) {
  .header,
  .hero,
  .title-lg {
    display: none;
  }

  .header-sm,
  .hero-sm {
    display: block;
  }
  .title-sm {
    display: flex;
  }

  .services,
  .articles {
    padding: 80px 0px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }

  .footer-contrat {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-contrat h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .footer-contrat p {
    font-size: 16px;
    margin-bottom: 4px;
  }

  .footer-lg {
    background-image: url(./img/footer-bg-sm.png);
  }

  .footer-link li {
    padding: 3px 24px 3px 24px;
  }
}

@media (max-width: 768px) {
  .articles-content {
    padding: 0 12px;
  }
}

@media (max-width: 330px) {
  body {
    display: none;
  }
}
