@media (max-width: 992px) {
  .banner {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .banner-content {
    margin: auto;
    text-align: center;
  }

  .next-line::after {
    content: '\A';
    white-space: pre;
  }

  .banner-img-sm {
    display: block;
    width: 100%;
  }

  .banner-img-lg {
    display: none;
  }

  .banner-content-box h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    color: #3b3b3b;
    margin-bottom: 24px;
  }

  .banner-content-box p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #5b5b5b;
    margin-bottom: 8px;
  }

  .banner-content-box p strong {
    background-image: url(./img/mark.png);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: contain;
    display: inline-block;
  }

  .banner-content-box .en {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #c1c1c1;
    margin-top: 16px;
    margin-bottom: 0px;
  }

  .banner-content-box ul {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    column-gap: 16px;
  }

  .banner-content-box ul li img {
    margin-top: 0;
    display: block;
  }

  .deco-line {
    width: 50px;
  }

  .travel-content-sm,
  .app-content-sm,
  .art-content-sm {
    display: block;
  }

  .works-content .travel,
  .works-content .app,
  .works-content .art {
    display: none;
  }

  .travel-content-sm-bg {
    background-image: url(./img/homepage-work1-bg.png);
    background-size: cover;
    width: 100%;
    height: 390px;
    display: flex;
    align-items: flex-end;
  }

  .app-content-sm-bg {
    background-image: url(./img/homepage-work2-lg.png);
    background-size: cover;
    width: 100%;
    height: 390px;
  }

  .art-content-sm-bg {
    background-image: url(./img/homepage-work3-bg.png);
    background-size: cover;
    width: 100%;
    height: 390px;
    display: flex;
    align-items: center;
  }

  .travel-content-sm img {
    max-width: 375px;
    display: block;
    margin: auto;
  }

  .art-content-sm img {
    max-width: 375px;
    display: block;
    margin: auto;
  }

  .travel-sm .introduction-sm,
  .app-sm .introduction-sm,
  .art-sm .introduction-sm {
    padding: 80px 40px 56px 40px;
    border-radius: 24px;
    background-color: #ffffff1a;
  }

  .introduction-sm .content {
    text-align: center;
  }

  .introduction-sm .content h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #1e1e1e;
    margin-top: 24px;
  }

  .introduction-sm .content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #5b5b5b;
    margin-top: 8px;
  }

  .introduction-sm .content ul {
    display: flex;
    gap: 8px;
    margin-top: 16px;
    justify-content: center;
  }

  .introduction-sm .content ul li {
    padding: 4px 12px 4px 12px;
    border-radius: 16px;
    background-color: #f1f1f1;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #3b3b3b;
    gap: 10px;
    border-radius: 16px;
  }

  .introduction-sm .btn {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 48px;
    gap: 8px;
  }

  .introduction-sm .btn a {
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 8px 16px;
    background-color: #000000;

    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
  }

  .introduction-sm .btn a img {
    align-items: center;
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 0 0 8px;
  }

  .travel-content-sm,
  .art-content-sm {
    position: relative;
  }

  .travel-content-sm-bg::before,
  .art-content-sm-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0px;
    bottom: 188px;
    background-color: #0d0c0780;
    z-index: 0;
    pointer-events: none;
  }

  .travel-content-sm-bg img {
    z-index: 1;
    margin-top: 93px;
  }

  .art-content-sm-bg img {
    z-index: 1;
    margin-top: 90px;
  }

  .title-lg h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: 0.12em;
    color: #3b3b3b;
    margin: 0 16px;
  }
}

@media (max-width: 768px) {
  .header {
    height: 56px;
  }

  .header-content {
    border-bottom: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 12px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
  }

  .hamburger {
    display: block;
  }

  .hamburger .btn.active {
    display: block;
  }

  .hamburger .btn.close {
    display: none;
  }

  .header-content.open .hamburger .btn.active {
    display: block;
  }

  .header-content.open .hamburger .btn.close {
    display: none;
  }

  .header-content .logo {
    width: 74px;
    height: 33px;
    top: 11.5px;
    left: 0;
    z-index: 1;
  }
  .header-nav {
    display: none;
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    height: 366px;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .header-nav.open {
    display: flex;
  }

  .header-nav li {
    padding: 4px 8px;
    position: relative;
    list-style: none;
    font-size: 24px;
    margin: 16px 0;
  }

  .hamburger img {
    cursor: pointer;
  }

  .hamburger .btn {
    transition: all 0.3s ease;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000b2; /* 黑色透明背景 */
    z-index: 998; /* 確保在導航列下方，內容上方 */
  }

  .header-content.open ~ .overlay {
    display: block;
  }

  .header-nav li a {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
    color: #000000;
    display: block;
  }

  .header-nav li .click {
    font-weight: 700;
  }

  .services,
  .articles {
    padding: 80px 0px;
  }

  .articles-content {
    padding: 0 12px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }

  .footer-contrat {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-contrat h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .footer-contrat p {
    font-size: 16px;
    margin-bottom: 4px;
  }

  .footer-lg {
    background-image: url(./img/footer-bg-sm.png);
  }

  .footer-link li {
    padding: 3px 24px 3px 24px;
  }
}

@media (max-width: 330px) {
  body {
    display: none;
  }
}
