@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

body {
  font-family: 'Noto Sans TC', sans-serif;
}

/*  rwd img css，可當作是 CSS Reset 其中一個 */
img {
  max-width: 100%;
  height: auto;
}

/* 全域 border box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
  border-bottom: 1px solid #f1f1f1;
}

.header-content {
  margin: auto;
  max-width: 1296px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 32px 0;
  position: relative;
}

.header-content img {
  position: absolute;
  top: 28px;
  left: 0;
}

.header-content ul {
  display: flex;
  column-gap: 40px;
}

.header-content ul li {
  padding: 4px 8px 4px 8px;
  position: relative;
}

.header-content ul li::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  transition: all 0.3s ease;
  opacity: 0;
  top: 0;
  left: 0;
  border-top: 1px solid #919191;
  border-left: 1px solid #919191;
}

.header-content ul li::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  transition: all 0.3s ease;
  opacity: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid #919191;
  border-right: 1px solid #919191;
}

.header-content ul li a::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  transition: all 0.3s ease;
  opacity: 0;
  top: 0;
  right: 0;
  border-top: 1px solid #919191;
  border-right: 1px solid #919191;
}

.header-content ul li a::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  transition: all 0.3s ease;
  opacity: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #919191;
  border-left: 1px solid #919191;
}

.header-content ul li:hover::before,
.header-content ul li:hover::after,
.header-content ul li:hover > a::before,
.header-content ul li:hover > a::after {
  opacity: 1;
}

.header-content ul li a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  display: block;
}

.header-content ul li .click {
  font-weight: 600;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.hero-content {
  margin: auto;
  max-width: 1154px;
}

.hero img {
  max-width: 100%;
  height: auto;
}

.hero-content .frame h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: #3b3b3b;
  margin-bottom: 24px;
}

.hero-content .frame p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #5b5b5b;
  margin-bottom: 8px;
}

.hero-content .frame p span {
  background-image: url(./img/mark.png);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: contain;
  display: inline-block;
}

.hero-content .frame .en {
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 0px;
}

.hero-content .frame ul {
  display: flex;
  margin-top: 60px;
  column-gap: 16px;
}

.hero-content .frame ul li img {
  display: block;
}

.title-lg {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 80px;
}

.title-lg img {
  display: block;
  width: 100px;
  height: 6px;
}

.title-lg p {
  font-size: 32px;
  font-weight: 600;
  line-height: 38.4px;
  letter-spacing: 0.12em;
  color: #3b3b3b;
  margin: 0 16px;
}

.works {
  padding-top: 120px;
}

.works-content .travel {
  background-image: url(./img/homepage-work1-bg.png);
  background-size: cover;
  display: flex;
  position: relative;
  max-height: 800px;
}

.works-content .app {
  background-image: url(./img/homepage-work2-lg.png);
  background-size: cover;
  display: flex;
  position: relative;
  height: 800px;
}

.works-content .art {
  background-image: url(./img/homepage-work3-bg.png);
  background-size: cover;
  display: flex;
  position: relative;
  height: 800px;
}

.works-content .travel,
.works-content .app,
.works-content .art {
  width: 100%;
}

.works-content .art::before,
.works-content .travel::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0d0c0780;
  z-index: 1;
  pointer-events: none;
}

.works-content .app::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 45%;
  bottom: 0;
  background-color: #0d0c0780;
  z-index: 1;
  pointer-events: none;
}

.travel-content {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 55px;
  max-width: 1296px;
  margin: auto;
}

.travel-content img {
  margin-top: 80px;
  align-self: flex-end;
  max-width: 714px;
  width: 40%;
  height: auto;
  display: block;
  flex: 1;
  z-index: 1;
}

.travel-content .introduction {
  min-width: 526px;
  max-width: 100%;
  padding: 80px 40px 56px 40px;
  border-radius: 24px;
  background-color: #ffffff1a;
  backdrop-filter: blur(5px);
  z-index: 1;
}

.introduction .content {
  padding: 0px 0px 40px 0px;
  border-bottom: 1px solid #f1f1f1;
}

.introduction .content h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  color: #ffffff;
}

.introduction .content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  margin-top: 8px;
}

.introduction .content ul {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

.introduction .content ul li {
  padding: 4px 12px 4px 12px;
  border-radius: 16px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #3b3b3b;
}

.introduction .btn {
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 8px;
}

.introduction .btn a {
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 16px 32px;
  background-color: #000000;

  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
}

.introduction .btn a img {
  align-items: center;
  width: 24px;
  height: 24px;
  display: block;
  margin: 0 0 0 8px;
}

.app-content {
  margin: auto;
  width: 1296px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.app .introduction {
  width: 526px;
  padding: 80px 40px 56px 40px;
  border-radius: 24px;
  background-color: #ffffff1a;
  backdrop-filter: blur(5px);
  z-index: 1;
}

.art-content {
  margin: auto;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  max-width: 1296px;
  column-gap: 49px;
}

.art-content img {
  margin-top: 176px;
  margin-bottom: 112px;
  max-width: 721px;
  width: 56%;
  height: auto;
  z-index: 2;
}

.art .introduction {
  width: 526px;
  padding: 80px 40px 56px 40px;
  border-radius: 24px;
  background-color: #ffffff1a;
  backdrop-filter: blur(5px);
  z-index: 2;
}

.services {
  background-image: url(./img/homepage-services-bg.png);
  background-size: cover;
  padding: 120px 0;
}

.services .title-lg {
  margin-top: 0px;
}

.services .content {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1296px;
}

.services .content li {
  background-image: url(./img/service-item-bg.png);
  width: 306px;
  height: 306px;
  border-radius: 16px;
  padding: 20px 30px 20px 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 24px;
}

.services .content li img {
  width: 80px;
  height: 80px;
}

.services .content li h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  color: #ffffff;
}

.services .contrat {
  margin-top: 80px;
}

.services .contrat .btn {
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 8px;
}

.services .contrat h3 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 33.6px;
}

.services .contrat a {
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 16px 32px;
  background-color: #000000;

  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
}

.services .contrat a img {
  width: 24px;
  height: 24px;
  display: block;
  /* position: static; */
  margin-left: 8px;
}

.articles {
  padding: 120px 0px;
}

.articles-content {
  margin: auto;
  max-width: 1296px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.articles-content li {
  max-width: 416px;
}

.articles-content img {
  border: 1px solid #f1f1f1;
  border-radius: 8px 8px 0px 0px;
}

.articles-content li h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #3b3b3b;
  margin: 16px 8px;
}

.articles-content li .tag-date {
  display: flex;
  justify-content: space-between;
  margin: 0 8px;
}

.tag-date p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.tag-date .tag {
  padding: 4px 12px;
  border-radius: 16px;
  background-color: #f1f1f1;
}
.slide-point {
  display: flex;
  justify-content: center;
  column-gap: 18px;
  margin-top: 40px;
}

.slide-point li {
  width: 12px;
  height: 12px;
  border-radius: 6px;

  background-color: #e9e9e9;
}

.slide-point .black {
  background-color: #000000;
}

.footer-lg {
  background-image: url(./img/footer-bg-lg.png);
  padding: 80px 0;
}

.footer-content {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1296px;
  flex-wrap: wrap;
  column-gap: 690px;
  row-gap: 24px;
}

.footer-contrat {
  min-width: 300px;
}

.footer-contrat img {
  margin-bottom: 24px;
  width: 120px;
  height: 54px;
}

.footer-contrat h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #3b3b3b;
}

.footer-contrat p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #919191;
  margin-top: 24px;
}

.footer-lg .link {
  width: 306px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.footer-lg .link li {
  display: flex;
  align-items: center;
  padding: 7px 24px 7px 24px;
  border-radius: 8px;
  border: 1px solid #c1c1c1;
  background-color: #ffffff;
}

.footer-lg .link .black {
  background-color: #000000;
  border: none;
}

.footer-lg .link li a {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #3b3b3b;
  text-decoration: none;
  margin-left: 8px;
}

.footer-lg .link .black a {
  color: #ffffff;
  font-weight: 700;
}
