/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

body {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

.material-symbols-outlined {
  vertical-align: bottom;
}

/*  rwd img css，可當作是 CSS Reset 其中一個 */
img {
  max-width: 100%;
  height: auto;
}

/* 全域 border box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1296px;
  margin: auto;
}
@media (max-width: 1295px) {
  .container {
    padding: 0 12px;
  }
}

.header {
  border-bottom: 1px solid #f1f1f1;
  height: 97px;
}
@media (max-width: 768px) {
  .header {
    height: 56px;
  }
}

.header-content {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 32px 0;
  width: 100%;
  background-color: white;
}
@media (max-width: 768px) {
  .header-content {
    justify-content: flex-end;
    position: fixed;
    padding: 8px 12px;
    z-index: 1000;
    height: 56px;
  }
}

.header-content .logo {
  position: absolute;
  top: 28px;
  left: 0;
  z-index: 1;
}
@media (max-width: 768px) {
  .header-content .logo {
    width: 74px;
    height: 33px;
    top: 11.5px;
  }
}

.hamburger {
  display: none;
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
    text-align: center;
    width: 40px;
    height: 40px;
  }
}

.hamburger-icon {
  cursor: pointer;
  line-height: 40px;
}

.header-nav {
  display: flex;
  column-gap: 40px;
}
@media (max-width: 768px) {
  .header-nav {
    display: none;
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    row-gap: 24px;
    background-color: rgba(255, 255, 255, 0.95);
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    z-index: 999;
  }
}

.header-nav li {
  padding: 4px 8px;
  position: relative;
  display: inline-block;
}
@media (max-width: 768px) {
  .header-nav li {
    font-size: 24px;
  }
}

.header-nav li::after,
.header-nav li::before,
.header-nav li a::after,
.header-nav li a::before {
  content: '';
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  transition: all 0.3s ease;
  opacity: 0;
}

.header-nav li::before {
  top: 0;
  left: 0;
  border-top: 1px solid #919191;
  border-left: 1px solid #919191;
}

.header-nav li::after {
  right: 0;
  bottom: 0;
  border-bottom: 1px solid #919191;
  border-right: 1px solid #919191;
}

.header-nav li a::before {
  top: 0;
  right: 0;
  border-top: 1px solid #919191;
  border-right: 1px solid #919191;
}

.header-nav li a::after {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #919191;
  border-left: 1px solid #919191;
}

.header-nav li:hover::before,
.header-nav li:hover::after,
.header-nav li:hover > a::before,
.header-nav li:hover > a::after {
  opacity: 1;
}

.header-nav li a {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}
@media (max-width: 768px) {
  .header-nav li a {
    font-size: 20px;
  }
}

.header-nav li .active {
  font-weight: 600;
}

.banner {
  margin: auto;
  max-width: 1920px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 24px;
}
@media (max-width: 992px) {
  .banner {
    justify-content: center;
    flex-direction: column-reverse;
  }
}

.banner-content {
  max-width: 430px;
  margin-left: 10px;
}
@media (max-width: 992px) {
  .banner-content {
    margin: auto;
    text-align: center;
  }
}

.banner-img-lg {
  max-width: 1154px;
  width: 61%;
}
@media (max-width: 992px) {
  .banner-img-lg {
    display: none;
  }
}

.banner-img-sm {
  display: none;
}
@media (max-width: 992px) {
  .banner-img-sm {
    display: block;
    width: 100%;
  }
}

.banner-content-box h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  color: #3b3b3b;
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .banner-content-box h1 {
    font-size: 32px;
    font-weight: 700;
  }
}

.banner-content-box p {
  font-size: 20px;
  font-weight: 400;
  color: #5b5b5b;
  margin-bottom: 8px;
}

.banner-content-box p strong {
  background-image: url(./img/mark.png);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: contain;
}

.banner-content-box .en {
  font-weight: 400;
  color: #c1c1c1;
  margin-top: 16px;
  margin-bottom: 0px;
}

.banner-content-box ul {
  display: flex;
  margin-top: 60px;
  column-gap: 16px;
}
@media (max-width: 992px) {
  .banner-content-box ul {
    justify-content: center;
    margin-top: 24px;
  }
}

.works {
  padding-top: 120px;
}
@media (max-width: 992px) {
  .works {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}

.work-item-background {
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;
  height: 800px;
}
@media (max-width: 992px) {
  .work-item-background {
    justify-content: center;
    height: auto;
  }
}

.works-content {
  position: relative;
}

.works-content .travel {
  background-image: url(./img/homepage-work1-bg.png);
}
@media (max-width: 992px) {
  .works-content .travel {
    background-image: none;
    margin-bottom: 48px;
  }
}

.works-content .app {
  background-image: url(./img/homepage-work2-lg.png);
}
@media (max-width: 992px) {
  .works-content .app {
    background-image: none;
    margin-bottom: 48px;
  }
}

.works-content .art {
  background-image: url(./img/homepage-work3-bg.png);
}
@media (max-width: 992px) {
  .works-content .art {
    background-image: none;
  }
}

.mask100::before,
.mask45::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0d0c0780;
  z-index: 0;
}

.mask100::before {
  right: 0;
}

.mask45::before {
  right: 45%;
}

@media (max-width: 992px) {
  .mask100::before,
  .mask45::before {
    content: none;
  }
}

.work-item-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
}
@media (max-width: 992px) {
  .work-item-layout {
    flex-direction: column;
    row-gap: 24px;
    border-color: #ffffff;
  }
}

.travel-img {
  max-width: 714px;
  width: 56%;
}
@media (max-width: 992px) {
  .travel-img {
    background-image: url(./img/homepage-work1-bg.png);
  }
}

@media (max-width: 992px) {
  .app-img {
    background-image: url(./img/homepage-work2-lg.png);
  }
}

.art-img {
  max-width: 721px;
  width: 58%;
}
@media (max-width: 992px) {
  .art-img {
    background-image: url(./img/homepage-work3-bg.png);
  }
}

@media (max-width: 992px) {
  .work-item-img-container {
    max-width: none;
    width: 100%;
    height: 390px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.travel-img img {
  display: block;
  margin: auto;
  margin-top: 80px;
  z-index: 1;
  position: relative;
}
@media (max-width: 992px) {
  .travel-img img {
    align-self: center;
    margin-top: 93px;
    height: 297px;
  }
}

.app-content {
  justify-content: start;
}

.art-img img {
  display: block;
  margin: auto;
  z-index: 1;
  position: relative;
}
@media (max-width: 992px) {
  .art-img img {
    align-self: center;
    margin-top: 90px;
    margin-bottom: 90px;
    height: 210px;
  }
}

.introduction {
  width: 526px;
  padding: 80px 40px 56px 40px;
  border-radius: 24px;
  background-color: #ffffff1a;
  backdrop-filter: blur(5px);
}
@media (max-width: 992px) {
  .introduction {
    width: auto;
    max-width: 375px;
    padding: 0 24px;
    border-radius: 16px;
    background-color: #ffffff;
  }
}

.introduction .content {
  padding-bottom: 40px;
  border-bottom: 1px solid #f1f1f1;
}
@media (max-width: 992px) {
  .introduction .content {
    padding: 0;
    text-align: center;
    border-bottom: none;
  }
}

.introduction .content h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
}
@media (max-width: 992px) {
  .introduction .content h3 {
    font-size: 20px;
    color: #1e1e1e;
  }
}

.introduction .content p {
  font-weight: 400;
  color: #ffffff;
  margin-top: 8px;
}
@media (max-width: 992px) {
  .introduction .content p {
    color: #5b5b5b;
  }
}

.introduction .content ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 24px;
}
@media (max-width: 992px) {
  .introduction .content ul {
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
  }
}

.introduction .content ul li {
  font-weight: 400;
  color: #3b3b3b;
  padding: 4px 12px;
  border-radius: 16px;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .introduction .content ul li {
    border-radius: 16px;
    background-color: #f1f1f1;
  }
}

.introduction .btn {
  margin-top: 40px;
}
@media (max-width: 992px) {
  .introduction .btn {
    margin-top: 20px;
  }
}

.introduction .btn a {
  display: flex;
  align-items: center;
  width: 176px;
  margin: auto;
  border-radius: 5px;
  padding: 16px 32px;
  background-color: #000000;

  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
.introduction .btn a:hover {
  background-color: #ffffff;
  color: #000000;
}
@media (max-width: 992px) {
  .introduction .btn a {
    width: 128px;
    padding: 8px 16px;
    font-size: 16px;
  }
}

.arrow_forward-icon {
  line-height: 30px;
}
@media (max-width: 992px) {
  .arrow_forward-icon {
    line-height: 24px;
  }
}

.services {
  background-image: url(./img/homepage-services-bg.png);
  background-size: cover;
  padding: 120px 0;
}
@media (max-width: 992px) {
  .services {
    padding: 80px 0px;
    background-image: none;
    background-color: #fafafa;
  }
}

.services .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.services .content li {
  background-image: url(./img/service-item-bg.png);
  width: 306px;
  height: 306px;
  border-radius: 16px;
  padding: 20px 30px 20px 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
}

.services .content li img {
  width: 80px;
  height: 80px;
}

.services .content li p {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
}

.services .contrat {
  margin-top: 80px;
}

.services .contrat .btn {
  display: flex;
  align-items: center;
  margin-top: 40px;
  gap: 8px;
}

.services .contrat h3 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

.services .contrat a {
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 16px 32px;
  background-color: #000000;

  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
.services .contrat a:hover {
  background-color: #c1c1c1;
  color: #000000;
}

.articles {
  padding: 120px 0px;
}
@media (max-width: 768px) {
  .articles {
    padding: 80px 0px;
  }
}

.articles-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
@media (max-width: 768px) {
  .articles-content {
    padding: 0 12px;
  }
}

.articles-content li {
  max-width: 416px;
}

.articles-content img {
  border: 1px solid #f1f1f1;
  border-radius: 8px 8px 0px 0px;
}

.articles-content li h3 {
  font-size: 20px;
  font-weight: 700;
  color: #3b3b3b;
  margin: 16px 8px;
}

.articles-content li .tag-date {
  display: flex;
  justify-content: space-between;
  margin: 0 8px;
}

.tag-date p {
  font-weight: 400;
}

.tag-date .tag {
  padding: 4px 12px;
  border-radius: 16px;
  background-color: #f1f1f1;
}

.slide-point {
  display: flex;
  justify-content: center;
  column-gap: 18px;
  margin-top: 40px;
}
@media (max-width: 768px) {
  .slide-point {
    display: none;
  }
}

.slide-point li {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #e9e9e9;
}

.slide-point .black {
  background-color: #000000;
}

.footer {
  background-image: url(./img/footer-bg-lg.png);
  padding: 40px 0;
}
@media (max-width: 768px) {
  .footer {
    background-image: url(./img/footer-bg-sm.png);
  }
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 24px;
}
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }
}

.footer-contrat {
  min-width: 300px;
}
@media (max-width: 768px) {
  .footer-contrat {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer-contrat img {
  width: 120px;
  height: 54px;
  margin-bottom: 24px;
}

.footer-contrat p {
  font-size: 20px;
  font-weight: 400;
  color: #3b3b3b;
}
@media (max-width: 768px) {
  .footer-contrat p {
    font-size: 16px;
  }
}

.footer-contrat a {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  color: #919191;
  margin-top: 24px;
  text-decoration: none;
}
@media (max-width: 768px) {
  .footer-contrat p {
    font-size: 16px;
    margin-bottom: 4px;
  }
}

.footer-link {
  display: flex;
  flex-direction: column;
  width: 306px;
  row-gap: 24px;
}

.footer-link li {
  display: flex;
  align-items: center;
  padding: 7px 24px;
  border-radius: 8px;
  border: 1px solid #c1c1c1;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .footer-link li {
    padding: 3px 24px 3px 24px;
  }
}

.footer-link .black {
  background-color: #000000;
}

.footer-link li a {
  font-size: 20px;
  font-weight: 400;
  color: #3b3b3b;
  text-decoration: none;
  margin-left: 8px;
}

.footer-link .black a {
  color: #ffffff;
  font-weight: 700;
}

.title-lg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .title-lg {
    margin-bottom: 40px;
  }
}

.title-lg h2 {
  margin: 0 16px;
  display: flex;
  align-items: center;

  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  color: #3b3b3b;
  letter-spacing: 0.12em;
}
@media (max-width: 992px) {
  .title-lg h2 {
    font-size: 24px;
    font-weight: 700;
  }
}

.deco-line {
  width: 94px;
  height: 1px;
  background-color: #c1c1c1;
  position: relative;
  margin: 0 16px;
}
@media (max-width: 992px) {
  .deco-line {
    width: 50px;
  }
}

.deco-line::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border: 3px solid #c1c1c1;
  border-radius: 50%;
  background-color: #c1c1c1;
  top: -2.5px;
}

.deco-left::before {
  left: -6px;
}

.deco-right::before {
  right: -6px;
}

@media (max-width: 992px) {
  .next-line::after {
    content: '\A';
    white-space: pre;
  }
}

@media (max-width: 768px) {
  .hamburger .btn.active {
    display: block;
  }

  .hamburger .btn.close {
    display: none;
  }

  .header-nav.open {
    display: flex;
  }

  .hamburger .btn {
    transition: all 0.3s ease;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000b2;
    z-index: 998;
  }

  .header-content.open ~ .overlay {
    display: block;
  }

  .header-nav li .click {
    font-weight: 700;
  }
}

/* @media (max-width: 330px) {
  body {
    display: none;
  }
} */
