.header-sm {
  display: none;
  margin: auto;
}

.header-sm-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  border-bottom: 1px solid #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.hamburger .btn.active {
  display: block;
}

.hamburger .btn.close {
  display: none;
}

.header-sm-content.open .hamburger .btn.active {
  display: block;
}

.header-sm-content.open .hamburger .btn.close {
  display: none;
}

.header-sm-nav {
  display: none;
  position: fixed; /* 固定在視窗上 */
  top: 56px; /* 根據需要調整頂部距離 */
  left: 0;
  width: 100%;
  height: 366px; /* 填滿剩餘高度 */
  background-color: rgba(255, 255, 255, 0.95); /* 半透明背景 */
  z-index: 999; /* 確保在導航列下方 */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.header-sm-nav.open {
  display: flex;
}

.header-sm-nav li {
  padding: 4px 8px;
  position: relative;
  list-style: none;
  font-size: 24px;
  margin: 16px 0;
}

.hamburger img {
  cursor: pointer;
}

.hamburger .btn {
  transition: all 0.3s ease;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000b2; /* 黑色透明背景 */
  z-index: 998; /* 確保在導航列下方，內容上方 */
}

.header-sm-content.open ~ .overlay {
  display: block;
}

.header-sm-nav li::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  transition: all 0.3s ease;
  opacity: 0;
  top: 0;
  left: 0;
  border-top: 1px solid #919191;
  border-left: 1px solid #919191;
}

.header-sm-nav li::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  transition: all 0.3s ease;
  opacity: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid #919191;
  border-right: 1px solid #919191;
}

.header-sm-nav li a::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  transition: all 0.3s ease;
  opacity: 0;
  top: 0;
  right: 0;
  border-top: 1px solid #919191;
  border-right: 1px solid #919191;
}

.header-sm-nav li a::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  transition: all 0.3s ease;
  opacity: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #919191;
  border-left: 1px solid #919191;
}

.header-sm-nav li:hover::before,
.header-sm-nav li:hover::after,
.header-sm-nav li:hover > a::before,
.header-sm-nav li:hover > a::after {
  opacity: 1;
}

.header-sm-nav li a {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  color: #000000;
  display: block;
}

.header-sm-nav li .click {
  font-weight: 700;
}

.hero-sm {
  display: none;
}

.hero-content-sm {
  margin: auto;
  text-align: center;
}

.hero-sm img {
  margin-top: 56px;
  width: 100%;
}

.hero-content-sm .frame-sm h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  color: #3b3b3b;
  margin-bottom: 24px;
}

.hero-content-sm .frame-sm p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #5b5b5b;
  margin-bottom: 8px;
}

.hero-content-sm .frame-sm p span {
  background-image: url(./img/mark.png);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: contain;
  display: inline-block;
}

.hero-content-sm .frame-sm .en {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #c1c1c1;
  margin-top: 16px;
  margin-bottom: 0px;
}

.hero-content-sm .frame-sm ul {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  column-gap: 16px;
}

.hero-content-sm .frame-sm ul li img {
  margin-top: 0;
  display: block;
}

.works-sm {
  display: none;
  padding: 40px 0 80px 0;
}

.title-sm {
  justify-content: center;
  display: none;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.travel-content-sm-bg {
  background-image: url(./img/homepage-work1-bg.png);
  background-size: cover;
  width: 100%;
  height: 390px;
  display: flex;
  align-items: flex-end;
}

.app-content-sm-bg {
  background-image: url(./img/homepage-work2-lg.png);
  background-size: cover;
  width: 100%;
  height: 390px;
}

.art-content-sm-bg {
  background-image: url(./img/homepage-work3-bg.png);
  background-size: cover;
  width: 100%;
  height: 390px;
  display: flex;
  align-items: center;
}

.title-sm img {
  display: block;
  width: 56px;
  height: 6px;
}

.title-sm p {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: 0.12em;
  color: #3b3b3b;
  margin: 0 16px;
}

.travel-content-sm img {
  max-width: 375px;
  display: block;
  margin: auto;
}

.art-content-sm img {
  max-width: 375px;
  display: block;
  margin: auto;
}

.travel-sm .introduction-sm,
.app-sm .introduction-sm,
.art-sm .introduction-sm {
  padding: 80px 40px 56px 40px;
  border-radius: 24px;
  background-color: #ffffff1a;
}

.introduction-sm .content {
  text-align: center;
}

.introduction-sm .content h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #1e1e1e;
  margin-top: 24px;
}

.introduction-sm .content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #5b5b5b;
  margin-top: 8px;
}

.introduction-sm .content ul {
  display: flex;
  gap: 8px;
  margin-top: 16px;
  justify-content: center;
}

.introduction-sm .content ul li {
  padding: 4px 12px 4px 12px;
  border-radius: 16px;
  background-color: #f1f1f1;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #3b3b3b;
  gap: 10px;
  border-radius: 16px;
}

.introduction-sm .btn {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 48px;
  gap: 8px;
}

.introduction-sm .btn a {
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 8px 16px;
  background-color: #000000;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.introduction-sm .btn a img {
  align-items: center;
  width: 24px;
  height: 24px;
  display: block;
  margin: 0 0 0 8px;
}

.travel-content-sm,
.art-content-sm {
  position: relative;
}

.travel-content-sm-bg::before,
.art-content-sm-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0px;
  bottom: 188px;
  background-color: #0d0c0780;
  z-index: 0;
  pointer-events: none;
}

.travel-content-sm-bg img {
  z-index: 1;
  margin-top: 93px;
}

.art-content-sm-bg img {
  z-index: 1;
  margin-top: 90px;
}
